html, body {
	background-image: url("sayagata-400px.png");
	height: 95%;
	margin: 0;
}
header {
	display: block;
	padding: 20px 0px 20px 0px;
	border-bottom: solid 1px #cccccc;
}
.top {
	display: inline;
	background: linear-gradient(to bottom right, #000000, #4aaaa5);
	margin-left: 100px;
	padding: 20px 30px 20px 30px;
	border-bottom: solid 1px #cccccc;
	color: white;
	font-family: "Georgia";
	text-shadow: 1px 1px 4px black;
	margin-right: 30px;
}
.wrap {
	opacity: 0;
	min-height: 100%;
	display: inline-block;
	width: 100%;
	position: relative;
			animation-name: pop;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background:linear-gradient(to right, #fff, rgba(255, 255, 255, 0.50), #fff)
}
.lk	 {
	position: absolute;
	bottom: 30px;
	right: 100px;
	display: inline-flex;
	color: #777777;
	font-family: "Arial";
}
.lk1 {
	border-right: 1px solid #cccccc;
	padding-right: 25px;
	bottom: 10px;
	color: #777777;
}
.lk2 {
		border-right: 1px solid #cccccc;
	padding-right: 25px;
	padding-left: 25px;
	bottom: 10px;
	float: left;
	color: #777777;
}
.lk3 {
	padding-left: 25px;
	bottom: 10px;
	float: left;
	color: #777777;
}
@keyframes pop{
	0% {opacity: 0}
	100% {opacity: 1}
}
.main-text {
	opacity: 0;
	margin-top: 70px;
	margin-left: 100px;
	float: left;
	background:linear-gradient(to right, #fff, rgba(255, 255, 255, 0.10), #fff);
	max-width: 100%;
	width: 420px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	animation-name: pop;
	animation-delay: 1.0s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
}
@keyframes pic {
	0% {filter: contrast(80%) invert(100%);}
	100% {filter:contrast(500%) invert(0%);}
}
.logo {
	height: 205px;
	width: 150px;
	float: left;
	padding-left: 10px;
	padding-right: 20px;
	animation-name: pic;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.logo:hover {
	animation-play-state: paused;
}
.line {
	padding-left: 10px;
	color: #4aaaa5;
	border-bottom: solid 3px #cccccc;
	text-shadow: 1px 0px 8px rgba(0, 0, 0, 0.42);
}
p {
	padding-left: 10px;
	padding-right: 20px;
	font-family: "Arial";
	font-size: 20px;
}
h3 {
	font-family: "Arial";
	color: #777777;
}
.connect {
	opacity: 0;
	margin: 70px 0 0 30px;
	float: left;
	background:linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.12), #ffffff);
	padding: 0px 20px 30px 20px;
	animation-name: pop;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
}
.flex {
	display: flex;
	justify-content: space-around;
}
.small-logo {
	height: 80px;
	width: 80px;
	padding: 0 10px 0 10px;
}
.content {
	display: inline-block;
	min-height: 100%;
}
.content-wrap {
	min-height: 100%;
	margin-bottom: -55px;
	}
.push, .foot{
	height: 55px;
}
footer {
	opacity: 0;
	text-align: center;
	background:radial-gradient(#666, rgba(0, 0, 0, 0.15) 250%);
	padding: 5px 0 6px 0;
	color: #4aaaa5;
	font-family: "Arial";
	clear: both;
	border-top: 5px solid #4aaaa5;
	width: 100%;
		animation-name: pop;
		animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
.name {
	display: block;
}
input {
	width: 100%;
	padding: 5px 0 5px 0;
}
.msg {
	height: 200px;
}
button {
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px 5px 5px 5px;
	background-color: #4aaaa5;
	color: white;
	font-family: "Georgia";
	font-size: 30px;
	box-shadow: 2px 2px 2px black;
	text-shadow: 2px 2px 2px black;
}
.move {
	position: relative;
	display: inline-block;
	float: left;
}
.top2 {
	font-size: 20px;
	position: absolute;
	top: 130px;
	left: 10px;
	width: 175px;
	background-color: #4aaaa5;
	color: white;
	font-family: "Georgia";
	padding: 10px 0px 10px 15px;	
}
.portphoto {
	height: 205px;
	width: 190px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.portphoto2 {
	height: 205px;
	width: 200px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	clear: both;
}
@media screen and (max-width: 980px) {
	.main-text {
		width: 300px;
		margin-left: 20px;
	}	
	.top {
		margin-left: 20px;
	}
	.small-logo {
		height: 60px;
		width: 60px;
	}
@media screen and (max-width: 768px) {
	.main-text {
		width: 90%;
		margin: 30px 20px 30px 30px;
	}
	.connect {
		width: 90%;
		margin: 30px 20px 30px 30px;
	
	}
	.content {
		margin-right: 20px;
	}
	.flex {
		justify-content: flex-start;
	}	
	.lk {
		right: 10px;
	}
}

@media screen and (max-width: 640px) {
	.top {
		width: 100%;
		display: block;
		margin-left: 0;
		margin-top: 0;
		text-align: center;
		padding: 20px 0 20px 0;
	}
	header {
		padding: 0 0 0 0;
	}
	.lk {
		right: 182px;
		bottom: 2px;
	}
	.content {
		margin-right: 5px;
		margin-left: 5px;
	}
}
@media screen and (max-width: 490px) {
.lk {
	right: 50px;
}
}
